# Rust
src-tauri/target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Tauri build artifacts
src-tauri/gen/

# AI Stuff
AGENTS.md
CHANGELOG.md
GEMINI.md